@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --color-bg-body: #F3F5F7;
  --color-logo-01: #B10A32;
  --color-logo-02: #B8DA8B;
}

:target {
  margin-top: 80px;
}

body, .st-bgcolor-body {
  background-color: var(--color-bg-body)
}

hr {
  height: 0;
  border-top: 1px solid #e9ecec;
  margin: 1rem 0;
}

header img.logo {
  width: 50%;
  max-width: 100%;
}

header .navbar {
  background-color: #F7F7F7DD;
  -webkit-box-shadow: -9px 10px 7px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 10px 7px -14px rgba(0,0,0,0.75);
  box-shadow: -9px 10px 5px -14px rgba(0,0,0,0.75);
  max-width: 100vw;
} 

header .navbar-end {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
}

header .navbar-end a {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: transparent;
  padding: 10px 15px;
  margin-right: 10px;
}

header .navbar-end a:hover:not(.active) {
  transition: all ease 1s;        
  border-bottom-color: var(--color-logo-01);
  background-color: initial;
}

header .navbar-end a.active {
  background-color: var(--color-logo-02);
}

footer {
  font-family: var(--font-poppins);
  font-size: 0.9em;
}

footer img.logo {
  width: 100%;
  max-width: 100%;
}

footer a:hover,
footer .navbar a:hover {
  background-color: transparent;
  color: white !important;
}

.st-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 80px;    
}

.st-header-logo {
  background-color: transparent;
  height: 80px;
}

.st-header-logo img {
  height: 100%;
}

.st-header-menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-family: var(--font-poppins);
  text-transform: uppercase;
  font-weight: 500;
}

.st-header-menu li {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: transparent;
  transition: all ease 0.5s;
  padding: 0 7px;
}

.st-header-menu li:hover {
  border-bottom-color: var(--color-logo-01);
}

.st-footer {
  background-color: #444443;
  font-family: var(--font-poppins);  
}

.st-footer h4 {
  color: #FAFAFA;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.st-footer-body {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  max-width: 1200px;
  margin: auto;
  color: #777A7C;
  line-height: 2em;
}

.st-footer-body > div {
  text-align: center;
  flex: 1;
}

.st-footer-bottom {
  background-color: #212428;
  padding: 15px;
}

.st-input {
  border: none;
  border-radius: 0;
}

.st-input:focus {
  box-shadow: none;
  background-color: rgb(252, 251, 213);
}


.st-body {
  padding-top: 80px;
}

.st-slider-container {
  position: relative;
  max-height: 85vh;
  background-color: var(--color-bg-body);
  color: rgb(94, 91, 91);
}

.st-slider-container img {
  object-position: center;
  height: 80vh;
  width: auto !important;   
}

@media (max-width: 730px) {

  .st-slider-container img {
    height: 50vh;
  }
  
}

@media (max-width: 400px) {

  .st-slider-container img {
    height: 25vh;
  }
  
}


.st-slider-body {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 25vw;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
}

.st-slider-body h1 {
  font-family: var(--font-rubik);
  font-size: 5vw;
  font-weight: 300;
  line-height: 1em;
}

.st-slider-body button {
  margin-top: 1em;
}

hr.st-line {
  margin: 30px auto;
  width: 30%;
  background-image: linear-gradient(to right, transparent, var(--color-logo-01), transparent);
  height: 2px;
  border: 0;
}

.st-promotions {
  font-family: var(--font-montserrat);
}

.st-promotions p.description {
  min-height: 80px;
}

.st-promotions p.price {
  color: #00B362;
  font-weight: bold;
}

[data-animate] {
  opacity: 0;
}

[data-animate="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-animate="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-animate="top"] {
  transform: translate3d(0px, -50px, 0);
}

[data-animate="bottom"] {
  transform: translate3d(0px, 50px, 0);
}

.animate {
  transition: all 1s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.st-about, .st-contacts, .st-menu, .st-gallery {
  font-family: var(--font-poppins);
}

.st-about h4 {
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 25px;
  line-height: 1em;
}

.st-about h4:after {
  display: block;
  content: '';
  width: 30%;
  margin-top: 15px;
  background: linear-gradient(to right, var(--color-logo-01), transparent);
  height: 2px;
}

#about-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-01-img {
  box-shadow: 3px 3px 5px 0px black;
}


#about-02 {
  background-color: var(--color-logo-02);
}

#about-02 .level-item:not(:last-child) {
  border-right: 3px var(--color-logo-01) solid; 
}

.st-privacypolicy p {
  text-align: justify;
  margin: 15px 0;
}

.react-datepicker-wrapper {
  width: 100%;
  max-width: 100%;
}

#contact-02 .box {
  height: 100%;
}

#contact-02 .box i {
  color: var(--color-logo-02);
}

#menu-groups li a {
  margin: 20px 10px;
  box-shadow: 1px 2px 5px 0px #777A7C;  
  padding: 20px 10px;  
  font-size: 1.5em;
  font-family: var(--font-montserrat);
  color: rgba(0,0,0,0.6);
  display: block;
  height: 100%;
  text-align: center;
}

#menu-groups li a:hover {
  color: var(--color-logo-01);
  font-weight: bold;
  transition: all 0.5s ease;
}

#menu-groups li a.active {
  color: white;  
  background-color: var(--color-logo-01);
}

#menu-products li {
  border-bottom: 1px var(--color-logo-01) solid;
  margin: 30px 0 30px 30px;
  padding-bottom: 30px;
}

#menu-products img {
  object-fit: fill;
}

#menu-products-loader {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-pulse-rise {
  text-align: center;   
}

.ball-pulse-rise.is-full {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  line-height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.ball-pulse-rise div {
  background-color: var(--color-logo-01);
}

.control .icon.click {
  pointer-events: initial;
  cursor: pointer;
}

.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container > .box {
  width: 300px;
}

.login-container .box figure {
  width: 50%;
  margin: auto;
}

.adm-header {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  color: #e1e1e1;  
  background-color: var(--color-logo-01);
  height: 60px;
  box-shadow: 0px 2px 5px 0px #aca3a3;  
}

.adm-header h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 15px;
}

.adm-header .avatar {
  margin-left: auto;
}

.adm-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100% - 300px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-bg-body);
  transition: all 0.3s ease;
}

.adm-container.fullwidth {
  width: 100%;
}

.adm-container main {
  flex: 1;
}

.adm-sidebar {
  width: 300px;
  height: 100vh;
  background-color: #eee;
  margin-left: -300px;
  transition: all 0.3s ease;
  padding: 30px 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.adm-sidebar.show {
  margin-left: 0;
  box-shadow: 1px 0 5px 0px #aca3a3;  
}

.adm-sidebar img {
  width: 70%;
  display: block;
  margin: auto;
}

.adm-sidebar hr {
  height: 3px;
  background-image: linear-gradient(to right, #eee, #444, #eee);
}

.adm-sidebar ul {
  font-family: var(--font-poppins);
  color: #777A7C;
}

.adm-sidebar li.menu {
  font-size: 1.2em;
  padding: 15px 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.adm-sidebar li.menu i {
  margin-right: 15px;
  font-size: 1.5em;
  width: 30px;
}

.adm-sidebar li.item {
  border-radius: 5px;  
}

.adm-sidebar li.item:hover,
.adm-sidebar li.item.active {
  font-weight: bold;
}

.adm-sidebar li.item:hover {
  background-color: #f6f7f5;
}

.adm-sidebar li.item.active {
  background-color: var(--color-logo-02);
}

.adm-sidebar li.item a {
  text-decoration: none;
  color: #777A7C;
  width: 100%;
  display: block;
  padding: 5px 45px;
}

.adm-button-menu {
  outline: none;
  height: 45px;
  width: 45px;
  background-color: transparent;
  color: #e1e1e1;
  cursor: pointer;
  border-radius: 15%;
  border: 1px solid #e1e1e1;
  opacity: 0.8;
}

.adm-button-menu:hover {
  opacity: 1;
}

.adm-button-menu:active {
  background-color: rgba(255,255,255,0.3);
}

.adm-footer {
  height: 40px;
  width: 100%;  
  padding: 0px 15px;
  background-color: #cfc8c8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adm-footer a {
  color: initial;
}

.adm-footer a:hover {
  color: #FF760C !important;
  font-weight: 700;
}

.adm-main {
  padding: 30px;
}

.adm-box-counter {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: seagreen;
  font-family: Arial, Helvetica, sans-serif;    
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.3));
  box-shadow: 1px 2px 5px 0px #aca3a3;          
  border-radius: 10px;  
}

.adm-box-counter hr {
  width: 80%;
  height: 0;
  margin: 0 10px;
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, white, transparent);
  background-color: transparent;
}

.adm-box-counter [data-icon] {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.3);
  font-size: 3em;
}

.adm-box-counter [data-container] {
  height: 100%;
  flex: 1;
  color: #d1d1d1;
}

.adm-box-counter [data-title] {
  font-size: 1em;
  font-weight: 300;
  padding: 5px 10px;
}

.adm-box-counter [data-counter] {
  font-weight: bold;
  font-size: 2.5em;
  text-align: right;
  padding: 0 15px;
}

.adm-charts {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 1px 2px 5px 0px #aca3a3;    
  border-radius: 10px;
}

.adm-charts h4 {
  font-size: 0.9em;
  font-weight: bold;
}

.adm-charts hr {
  margin: 5px 0 10px 0;
}

.adm-box-cad {
  background-color: transparent;
  padding: 15px;
  border: 1px solid #DDD;
  margin: 15px auto;
}

input[disabled] {
  border-color: revert !important;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.table-container thead th {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 35%,rgba(225,225,225,1) 59%,rgba(246,246,246,1) 100%);
}


#notfound {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppins);  
}

#notfound h1 {
  color: var(--color-logo-02);
  font-size: 10em;
  font-weight: 900;
  min-width: 200px;
  text-align: center;
  margin-right: 50px;
  text-shadow: 2px 2px 4px black;
}

#notfound h2 {
  color: var(--color-logo-01);
  font-size: 2em;
  font-weight: 700;
}

#notfound p {
  padding: 30px 0;
  font-size: 1.3em;
  max-width: 600px;
}

.modal {
  z-index: 1000
}

.modal .modal-background {
  background-color: rgba(0,0,0,0.4);
}

.modal .modal-card-head {
  padding: 15px;
}
.modal .modal-card-title {
  font-size: 1.2em;
  font-weight: bold;
}
.modal .modal-card-foot {
  padding: 10px 20px;
}